
@{
    ViewData["Title"] = "test";
}
<div id="flyout">
    <div id="button">
        <div class="text btn btn-primary">Have Questions?</div>
    </div>
    <h3>Have Questions?</h3>
    <h4>We've Got Answers</h4>
    <form role="form">
        <div class="form-group">
            <input type="name" class="form-control" placeholder="Full Name">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <textarea name="message" class="form-control" placeholder="Message"></textarea>
        </div>
        <button type="submit" class="btn btn-defult">Submit</button>
    </form>
</div>

